exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(shiny)
import(ranger)
import(kmer)
import(ape)
import(DT)
import(plotly)
import(rintrojs)
import(shinythemes)
import(shinyjs)
import(RColorBrewer)
import(parallel)
import(shinylogs)